
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css')}}">
    <title>Biblioteca</title>
</head>
<form action="{{url_for('actualizar', id=libro.id)}}" id="actualizar" method="POST">
    <div class="form-group">
        <h2>ACTUALIZAR</h2>
        <h4>ID</h4>
        <input class="form-control" type="text" name="id_a" id="id_a" value="{{libro.id }}" required>
        <h4>Nombre</h4>
        <input class="form-control" required type="text" name="nombre_a" id="nombre_a" value="{{libro.nombre }}">
        <h4>Autor</h4>
        <input class="form-control" required type="text" name="autor_a" id="autor_a" value="{{libro.autor }}">
        <h4>Año</h4>
        <input class="form-control" required type="text" name="year_a" id="year_a" value="{{libro.year}}">
        <h4>Portada</h4>
        <input class="form-control" required type="text" name="portada_a" id="portada_a" value="{{libro.portada}}">
    </div>
    <br>
    <div class="form-group mt-4" >
        <button type="submit" class="btn btn-info float-right ues-info">ACTUALIZAR</button>
    </div>
    

</form>