{% extends 'main.html' %}

{% block cabecera %}
      <title>Biblioteca</title>
{% endblock %}
{% block cuerpo%}
     <div class="container">
        <div class="row">
            <div class="col-2">
                {% include 'componentes/navbar.html'%}       
            </div>
            <div class="col-6">
                <h5>Inicio</h5>
                {% include 'componentes/actualizar.html'%}
                <hr>
                {% for libro in libro %}
                    {{libro.nombre }}
                    {{libro.autor }}
                    {{libro.year }}
                    {{libro.portada }}  
                {% endfor %}
            </div> 
            <div class="col">
                <hr>
            </div>
        </div>
     </div>
{% endblock%}