<form id="registro" action="{{url_for('registro')}}" method="POST">
    <div class="form-group">
        <h2>REGISTRO</h2>
        <h6>Nombre</h6>
        <input class="form-control" required type="text" name="nombre" id="nombre" placeholder="Escribe el nombre"><br>
        <h6>Autor</h6>
        <input class="form-control" required type="text" name="autor" id="autor" placeholder="Ingresa el autor"><br>
        <h6>Año</h6>
        <input class="form-control" required type="text" name="year" id="year" placeholder="Escribe el año"><br>
        <h6>Portada</h6>
        <input class="form-control" required type="text" name="portada" id="portada" placeholder="Ingrese la portada">     
    </div>
    <div class="form-group mt-4" >
        <button type="submit" class="btn btn-info float-right ues-info">Registrar</button>
    </div>
    

</form>